beautifulsoup4
certifi
h5py
imbalanced-learn
ipykernel
ipython
jedi
Jinja2
jupyter
Markdown
matplotlib
matplotlib-inline
numpy
oauthlib
openpyxl
packaging
pandas
protobuf
python-box
requests
scikit-learn
seaborn
sagemaker
statsmodels
streamlit
urllib3
py7zr
tqdm
notebook
PyYAML
sacrebleu
ensure==1.0.2
fastapi==0.78.0
-e .